---
import Layout from "../../layouts/BlogLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout frontmatter={post.data}>
  <div class="prose prose-invert max-w-none">
    <Content />
  </div>
</Layout>
