---
import Layout from "../../layouts/BlogLayout.astro";
import { getCollection } from "astro:content";
import { computeReadingTime } from "../../utils/reading-time";
export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post, allPosts: posts },
  }));
}

const { post, allPosts } = Astro.props;
const { Content } = await post.render();
const readingTime = post.body ? computeReadingTime(post.body) : post.data.readingTime;
---

<Layout frontmatter={{ ...post.data, readingTime }} allPosts={allPosts}>
  <div class="prose prose-invert max-w-none">
    <Content />
  </div>
</Layout>
